* {margin: 0; padding: 0; border: 0;}
.all{
  background-color:linen ;
  
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 260px;
  margin-top: 150px;
  border-radius: 30px;
  border: groove black; 
}
.site-title {
  text-align: center;
}
.site-title a{
  font-size: 80px;
  font-weight: bolder;
  font-family:cursive;
}
.navigation {
    position: relative;
    display: inline-block;
    padding:10px;
    overflow: hidden;
    background:linear-gradient(to right,rgb(216, 98, 98),  rgb(219, 134, 134));
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navigation a{
  color:rgb(0, 0, 0) ;
  }
.dropbtn {
    background-color: rgb(216, 98, 98);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; 
  }
  .dropbtn a{
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  }

.dropbtn:hover {background-color: #3e8e41;}
 
.hero{
  margin-top: 300px;
}
.hero-img{
  width: 100%;
  height: 500px;
  border-top: groove rgb(110, 108, 108);
  border-bottom: groove rgb(66, 65, 65);
}
.hero-img:hover{
  opacity: 0.8;
}

.hero p{
  text-align: center;
  padding:20px 30px 10px;
  font-size: 20px;
  font-family: cursive;
}
.newsletter{
  padding-top: 500px;
  display: flex;   
}
.news1-img{
  width: 400px;
  height: 400px;
  margin-left: 10%;
  border-radius: 30px;  
}
.news2-img{
  width: 400px;
  height: 400px;
  margin-left: 10%;
  border-radius: 30px;
}
.news3-img{
  width: 400px;
  height: 400px;
  margin-left: 10%;
  border-radius: 30px;
}

.news1 p{
 font-size: 20px;
 font-family: cursive;
 text-align: center;
 text-align: justify;
 margin: 30px 20px ;
}
.news2 p{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  text-align: justify;
  margin: 30px 20px ;
 }
 .news3 p{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  text-align: justify;
  margin: 30px 20px ;
 }
 .news1-img:hover{
  opacity: 0.7; 
}
.news2-img:hover{
  opacity: 0.7; 
}
.news3-img:hover{
  opacity: 0.7; 
}

 .sitemap{
  margin-top: 300px; ;
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 70px;
  background:linear-gradient(to right,rgb(216, 98, 98),  rgb(219, 134, 134));
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

 }
 .sitemap li {
   list-style: none;
 }
 .sitemap-nav li:hover{
  opacity: 0.5;
 }
 .SNS li:hover{
   opacity: 0.5;
 }
 .Updates li:hover{
   opacity: 0.5;
 }